logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.DS_Store
node_modules
# yep build should exists, but no files in it. cuz im fucking suck of watching at error is vscode with rust
# analyzer that says "oh dear i cannot find ../build" fuckign mashine i know that this folder doesnt exists now
# but when i write yarn tauri dev this folder will be created
# just shutup and say me that i forgot to place ; at the end of the expression 🤡🤡🤡🤡🤡🤡🤡
/build/*
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.vscode/settings.json
