@import url(../base.css);

.start_button {
    margin-top: 10px;
    background: rgba(25, 25, 25, 25);
    padding: 10px;
    width: 50%;
    
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    cursor: pointer;
}