@font-face {
	font-family: 'UbuntuMono';
	src: url(./UbuntuMono/UbuntuMono-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'UbuntuMono';
	src: url(./UbuntuMono/UbuntuMono-Bold.ttf) format('truetype');
	font-weight: bold;
}

@font-face {
	font-family: 'UbuntuMono';
	src: url(./UbuntuMono/UbuntuMono-Italic.ttf) format('truetype');
	font-style: italic;
}

@font-face {
	font-family: 'UbuntuMono';
	src: url(./UbuntuMono/UbuntuMono-BoldItalic.ttf) format('truetype');
	font-weight: bold;
	font-style: italic;
}