* {
  margin: 0;
  padding: 0;

  color: #FFFF;
  font-family: 'Ubuntu', sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  background-image: url("assets/background.jpg");
  background-size: 100% 100%;
}

.topdiv {
  width: 1200px;
  height: 677px;

  background: rgba(31, 31, 31, 0.65);
  backdrop-filter: blur(7.5px);
}

.bottomdiv {
  width: 1200px;
  height: 123px;

  background: rgba(31, 31, 31, 0.88);
  backdrop-filter: blur(12.5px);
}

.version_text {
  margin-top: 15px;
  margin-left: 15px;

  top: 0;
  left: 0;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  cursor: default;
}

.exit_button {
  margin-top: 15px;
  margin-right: 15px;

  top: 0;
  right: 0;
  position: absolute;

  cursor: pointer;
}

.paradoxlogo {
  width: 70px;
  height: 75px;
  flex-shrink: 0;
  position: absolute;
  left: 15px;
  bottom: 24px;
  pointer-events: none
}

.hoilogo {
  width: 200px;
  height: 75px;
  flex-shrink: 0;
  position: absolute;
  right: 15px;
  bottom: 24px;
  pointer-events: none
}